
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Mvc Stok</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Kategori/Index">Kategoriler</a></li>
                <li><a href="/Urun/Index">Ürünler</a></li>
                <li><a href="/Musteri/Index">Müşteriler</a></li>
                <li><a href="/Satis/Index">Satışlar</a></li>
                <li><a href="" data-toggle="modal" data-target="#ModalYardim">Yardım</a></li>
            </ul>
        </div>
    </nav>
    <div class="modal" id="ModalYardim">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Bilgi Ekranı</h2>
                </div>
                <div class="modal-body">
                    <h2 class="fw-bold mb-0">Hazırlayan: Enes Durmuş</h2>
                    <ul>
                        <li><a href="https://github.com/Turkmen48">Github</a></li>
                        <li><a href="https://www.linkedin.com/in/enesdurmus">LinkedIn</a></li>
                    
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
